@import "colors.less";
@import "common.less";
@import "form.less";
@import "detail.less";
@import "dialog.less";
@import "popup.less";

@import "header.less";
@import "feeds.less";
@import "articles.less";

@import "icon.less";
@import "resizer.less";
@import "feed-icon.less";

rr-app {
	display: flex;
	height: 100dvh;
	overflow: hidden;

	box-sizing: border-box;
	margin: 0;

	@media(max-width: @breakpoint-mobile) {
		> nav {
			display: flex;
	 		flex-direction: column;

			width: 280px;
			max-width: none;

			position: absolute;
			left: 0; top: 0; bottom: 0;
			z-index: 2;

			transform: translate(-100%);
			transition: transform 300ms;
			+ rr-resizer { display: none; }
		}

		&.nav-open {
			&:after {
				content: "";
				position: fixed;
				top: 0; bottom: 0;
				right: 0; left: 0;
				z-index: 1;
				background-color: rgba(0,0,0,0.65);
			}

			> nav {
				transform: none;
				box-shadow: var(--shadow);
			}
		}
	}
}
