rr-articles {
 	display: flex;
 	flex-direction: column;

	flex: none;
	overflow: auto;
	min-width: 320px;
	max-width: 75%;

 	background-color: var(--color-bg-primary);

 	> header {
 		height: 56px;
		flex: none;

		display: flex;
		align-items: center;
		gap: 8px;
		padding: 0 24px;
		background: var(--color-bg-primary);

		position: sticky;
		top: 0;
		z-index: 1;
		&.has-shadow { box-shadow: var(--shadow-header); }

		h4 {
			display: flex;
			align-items: center;
			gap: 8px;
		}

		rr-counter {
			font-size: 11px;
			font-weight: bold;
			color: var(--color-grey);
		}

		button {
			margin-left: auto;
			font-size: 24px;
		}
 	}

 	rr-item-articles {
		margin: 0 8px 8px 8px;
 	}

	&::after {
		content: "";
		flex: none;
		height: 110%;
	}

	@media(max-width: @breakpoint-tablet) {
		flex: auto;
		max-width: none;
	}
}

rr-item-articles {
	--picture-width: 120px;
	--v-gap: 4px;
	--h-gap: 8px;

	display: flex;
	flex-wrap: wrap;
	gap: var(--v-gap) var(--h-gap);

	padding: 16px;
	cursor: pointer;
	background: var(--color-bg-secondary);
	border-radius: 8px;

	header {
		width: 100%;
		display: flex;
		align-items: center;
		gap: 8px;
	}

	> div {
		overflow: hidden;
		flex: 1 1 calc(100% - var(--picture-width) - var(--h-gap));
	}

	picture {
		width: 120px;
		height: 80px;
		text-align: right;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 4px;
		}
	}

	h6 {
		font-weight: normal;
		font-size: 10px;
		flex: auto;
	}

	time {
		font-size: 10px;
	}

	.bookmark {
		display: flex;
		align-items: center;
		input { display: none; }
		input:checked ~ rr-icon[type=bookmark] { display: none; }
		input:not(:checked) ~ rr-icon[type=bookmark-fill] { display: none; }
	}

	h6, p {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	h3 {
		margin-bottom: 4px;
		font-size: 14px;
	}

	&.is-read:not(.is-active) {
		opacity: .5;
	}

	&.is-active h3 { color: var(--color-active); }

	@media (hover: hover) {
		&:hover { background-color: var(--color-hover); }
	}
}
