rr-detail {
	--padding: 24px;

	display: flex;
	flex-direction: column;
	padding: var(--padding) 0;

	flex: auto;
	overflow: auto;
	background-color: var(--color-bg-secondary);

	header, .body {
		width: 800px;
		max-width: calc(100% - 2*var(--padding));
		padding: var(--padding);
		margin-inline: auto;
		background: var(--color-bg-primary);
	}

	header {
		display: flex;
		flex-direction: column;
		gap: 8px;
		border-radius: 8px 8px 0 0;
	}

	.body {
		flex: auto;
		padding-top: 0;
		border-radius: 0 0 8px 8px;
	}

	a.web {
		display: flex;
		align-items: center;
		gap: 8px;
		color: var(--color-text-primary);
		text-decoration: none;

		@media (hover: hover) {
			&:hover { text-decoration: underline; }
		}
	}

	h1 {
		font-size: 24px;
		line-height: 30px;
		a { color: var(--color-text-primary); }
	}

	.publish-info {
		display: flex;
		align-items: center;
		gap: 8px;

		> *:not(:last-child)::after {
			content: "//";
		}
	}

	.close { display: none; }

	@media(max-width: @breakpoint-tablet) {
		position: absolute;
		z-index: 1;

		width: 100vw;
		height: 100vh;
		padding: 0;

		transform: translate(100%);
		transition: transform 300ms;

		rr-app.detail-open & {
			transform: none;

			.close {
				display: flex;
				position: fixed;
				right: 16px; bottom: 16px;
				width: 36px; height: 36px;
				padding: 0;
				border: none;
				border-radius: 50%;

				color: #fff;
				box-shadow: var(--shadow);
				background-color: var(--color-active);

				rr-icon {
					width: 20px;
					height: 20px;
				}
			}
		}
	}
}





