#detail {
	> header, .body {
		@padding: 24px;

		padding: 0 @padding;
		margin: 48px auto;
		max-width: calc(768px + 2 * @padding);
	}

	> header {
		a.feed {
			display: flex;
			align-items: center;
			margin-bottom: 8px;
			color: var(--color-text);
			text-decoration: none;

			&:hover { text-decoration: underline; }

			.subscription-icon { margin-right: 8px; }
		}

		h1 {
			font-size: 2.4rem;
			line-height: 3rem;
			margin-bottom: 8px;
			a { color: var(--color-text); }
		}

		.publish-info {
			display: flex;
			align-items: center;

			> *:not(:last-child)::after {
				content: "//";
				margin: 0 8px;
			}
		}
	}

	.body {
		> * { margin: 24px 0; }
		* { max-width: 100% !important; }

		iframe, video, figure, img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			height: auto !important;
		}
	}

	.close { display: none; }

	@media(max-width: @breakpoint-tablet) {
		background-color: #fff;
	}
}
