rr-feeds {
	flex: auto;
	overflow: auto;
	padding: 48px 0 24px 0;

	display: flex;
		flex-direction: column;
	line-height: 32px;
	background-color: var(--color-bg-secondary);

	h3 {
		margin-top: 16px;
		padding: 0 24px;
		font-size: 12px;
		font-weight: normal;
		color: var(--color-grey);
		text-transform: uppercase;
	}

	@media(max-width: @breakpoint-mobile) {
		display: flex;
 		flex-direction: column;

		width: 280px;
		max-width: none;
		padding: 24px 0;

		position: absolute;
		left: 0; top: 0; bottom: 0;
		z-index: 2;

		transform: translate(-100%);
		transition: transform 300ms;
		+ rr-resizer { display: none; }
	}
}

rr-app.nav-open {
	&:after {
		content: "";
		position: fixed;
		top: 0; bottom: 0;
		right: 0; left: 0;
		z-index: 1;
		background-color: rgba(0,0,0,0.65);
	}

	rr-feeds {
		transform: none;
		box-shadow: var(--shadow);
	}
}

rr-item-feeds {
	display: flex;
	align-items: center;
	padding: 0 14px 0 16px;
	border-left: 4px solid transparent;
	cursor: pointer;

	&[type=category] {
		&.collapsed {
			.icon-chevron-down { transform: rotate(-90deg); }
			& ~ rr-nav-item { display: none; }
		}

		& ~ rr-nav-item {
			padding-left: 48px;
		}
	}

	&.is-active {
		border-left-color: var(--color-active);
		color: var(--color-active);
	}

	rr-feed-icon {
		margin: 0 8px 0 4px;
	}

	.title {
		flex: auto;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	rr-counter {
		padding-right: 4px;
		font-size: 11px;
		color: var(--color-grey);
	}

	button {
		flex: none;
		width: 24px;
		height: 24px;

		&:not(.btn-chevron) {
			font-size: 16px;
			color: var(--color-grey);
		}
	}

	.btn-chevron {
		margin-right: 4px;
	}

	> .icon:first-child {
		flex: none;
		margin: 0 10px 0 5px;
		color: var(--color-text-primary);
	}

	@media (hover: hover) {
		&:hover {
			background-color: var(--color-hover);
		}
	}

	@media(max-width: @breakpoint-mobile) {
		padding-top: 4px;
		padding-bottom: 4px;
	}
}
