rr-feeds {
	flex: auto;
	overflow: auto;
	padding: 48px 0 24px 0;

	display: flex;
	flex-direction: column;
	line-height: 32px;
	background-color: var(--color-bg-secondary);

	h3 {
		margin-top: 16px;
		padding: 0 24px;
		font-size: 12px;
		font-weight: normal;
		color: var(--color-grey);
		text-transform: uppercase;
	}
}

rr-item-feeds {
	display: flex;
	gap: 4px;
	align-items: center;
	padding: 0 14px 0 16px;
	border-left: 4px solid transparent;
	cursor: pointer;

	&[type=category] {
		&.collapsed {
			.icon[type=chevron] { transform: rotate(-90deg); }
			& ~ rr-item-feeds { display: none; }
		}

		& ~ rr-item-feeds {
			padding-left: 48px;
		}
	}

	&.is-active {
		border-left-color: var(--color-active);
		color: var(--color-active);
	}

	rr-feed-icon {
		margin: 0 4px;
	}

	.title {
		flex: auto;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	rr-counter {
		font-size: 11px;
		color: var(--color-grey);
	}

	button {
		flex: none;
		width: 24px;
		height: 24px;
	}

	.btn-chevron {
		margin-right: 4px;
	}

	> .icon:first-child {
		flex: none;
		margin: 0 4px;
		color: var(--color-text-primary);
	}

	@media (hover: hover) {
		&:hover {
			background-color: var(--color-hover);
		}
	}

	@media(max-width: @breakpoint-mobile) {
		line-height: 40px;
	}
}
