label {
	display: flex;
	flex-wrap: wrap;
	gap: 4px;
	margin-bottom: 8px;

	input:not([type=checkbox]):not([type=radio]),
	select {
		flex-basis: 100%;
	}
}

label:has([required]) {
	input, select { order: 1; }

	&::after {
		content: "*";
		font-size: 12px;
		color: red;
	}
}

input:not([type]),
input[type=text],
input[type=password],
input[type=url],
select {
	padding: 8px;
	border: 1px solid var(--color-border);
	border-radius: var(--radius);
	background-color: var(--color-bg-primary);
	color: var(--color-text-primary);
}

input:user-invalid {
	border-color: var(--color-darkred);
}

button {
	padding: 0;
	margin: 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--radius);
	cursor: pointer;
	border: none;
	color: inherit;
	background-color: transparent;

	&:disabled {
		opacity: 0.3;
		cursor: default;
	}

	&[type=submit], &[type=button] {
		height: 32px;
	}

	&[type=submit] {
		background-color: var(--color-active);
		font-weight: bold;
		color: #fff;
	}

	&[type=button]:not(.plain) {
		border: 1px solid var(--color-border);
	}
}
