main {
	display: flex;
	height: 100vh;
	overflow: hidden;
}

main {
	 > nav {
		flex: 0 0 auto;
		overflow: auto;
		border-right: 1px solid var(--color-border);
		background-color: var(--color-background);
	}

	> div {
		flex-grow: 1;
		display: flex;
		overflow: hidden;
	}

	> button.menu,
	> button.close {
		display: none;
		position: fixed;
		right: 16px;
		bottom: 16px;
		z-index: 1;
		width: 42px;
		height: 42px;
		border-radius: 50%;
		background-color: var(--color-active);
		color: #fff;
		box-shadow: var(--shadow);

		.icon {
			width: 20px;
			height: 20px;
		}
	}
}

#list {
	flex: 0 0 auto;
	overflow: auto;
	border-right: 1px solid var(--color-border);
}

#detail {
	flex-grow: 1;
	overflow: auto;
	background-color: #fff;
}

.resizer {
	position: relative;

	&::before {
		content: "";
		width: 5px;
		position: absolute;
		top: 0px; bottom: 0px; left: -2px;
		cursor: ew-resize;
	}
}

@media(max-width: @breakpoint-tablet) {
	main > div {
		position: relative;
		flex-grow: 1;
	}

	#detail {
		position: absolute;
		left: 0; right: 0; top: 0; bottom: 0;
		transform: translate(100%);
		transition: transform 300ms;
	}

	main.detail-open {
		#detail { transform: none; }
		> button.close { display: flex; }
		> button.menu { display: none; }
	}

	#list {
		flex-grow: 1;
		+ .resizer { display: none; }
	}
}


@media(max-width: @breakpoint-mobile) {
	.resizer { display: none; }

	main {
		position: relative;
	}

	main > nav {
		z-index: 1;
		position: absolute;
		left: 0; right: 0; top: 0; bottom: 0;
		transform: translate(-100%);
		transition: transform 300ms;
		+ .resizer { display: none; }
	}

	main > button.menu { display: flex; }

	main.nav-open {
		&::after {
			content: "";
			position: fixed;
			top: 0; bottom: 0; right: 0; left: 0;
			background-color: rgba(0,0,0,.65);
		}

		> nav {
			transform: none;
			width: 280px;
		}

		> button.menu { display: none; }
	}
}
