rr-main-button {
	display: none;

	position: fixed;
	right: 16px; bottom: 16px;
	z-index: 2;

	color: #fff;
	cursor: pointer;
	border-radius: 50%;
	box-shadow: var(--shadow);
	background-color: var(--color-active);

	width: 44px;
	height: 44px;

	.icon {
		width: 40%;
		height: 40%;
	}

	.icon[type=cross] { display: none; }

	rr-app.detail-open & {
		.icon[type=menu] { display: none; }
		.icon[type=cross] { display: block; }
	}
	rr-app.nav-open & {
		.icon[type=menu] { display: none; }
		.icon[type=cross] { display: block; }
	}

	@media (max-width: @breakpoint-tablet) {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	@media (min-width: calc(@breakpoint-mobile + 1px)) and (max-width: @breakpoint-tablet) {
		rr-app:not(.detail-open) & { display: none; }
	}
}
