nav {
	display: flex;
	flex-direction: column;
	line-height: 3.2rem;
	background-color: var(--color-bg-nav);

	.scroll {
		overflow: auto;
		flex: 1;
		padding: 12px 0;
	}

	> footer {
		.flex-row;
		justify-content: center;
		gap: 32px;
		border-top: 1px solid var(--color-border);

		button {
			width: 4.8rem;
			height: 4.8rem;
			font-size: 1.6rem;
		}
	}

	h3 {
		margin-top: 16px;
		padding: 0 24px;
		font-size: 1.2rem;
		font-weight: normal;
		color: var(--color-grey);
		text-transform: uppercase;
	}

	li  {
		.flex-row;
		padding-left: 16px;
		padding-right: 14px;
		border-left: 4px solid transparent;
		cursor: pointer;

		&.category {
			&.is-collapsed {
				.icon-chevron-down { transform: rotate(-90deg); }
				& ~ li { display: none; }
			}

			& ~ li {
				padding-left: 48px;
			}
		}

		&.is-selected {
			border-left-color: var(--color-active);
			color: var(--color-active);
		}

		.subscription-icon {
			margin: 0 8px 0 4px;
		}

		.title {
			flex-grow: 1;
			.overflow-ellipsis;
		}

		.count {
			padding-right: 4px;
			font-size: 1.1rem;
			color: var(--color-grey);
		}

		button {
			flex-shrink: 0;
			width: 24px;
			height: 24px;

			&:not(.btn-chevron) {
				font-size: 1.6rem;
				color: var(--color-grey);
			}
		}

		.btn-chevron {
			margin-right: 4px;
		}

		> .icon:first-child {
			margin: 0 10px 0 5px;
			color: var(--color-text);
		}

		&:hover {
			background-color: var(--color-hover);
		}
	}

	@media(max-width: @breakpoint-mobile) {
		li {
			padding-top: 4px;
			padding-bottom: 4px;
		}
	}
}
