.popup {
	position: absolute;
	background: var(--color-bg);
	box-shadow: var(--shadow);
	border-radius: var(--radius);
	z-index: 1;
}

.popup-menu {
	display: flex;
	flex-direction: column;
	padding: 8px 0;

	> button {
		justify-content: start;
		padding: 0 16px;
		font-size: 1.4rem;
		line-height: 3.6rem;

		@media (hover: hover) {
			&:hover {
				background: var(--color-hover);
			}
		}

		.icon {
			margin-right: 8px;
		}
	}
}

