*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  box-sizing: border-box;
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  font-family: sans-serif;
}
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}
[hidden] {
  display: none !important;
}
main {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
#feeds {
  flex: 0 0 280px;
  overflow: auto;
  padding: 8px 0;
  border-right: 1px solid #e2e2e2;
  background-color: #f8f8f8;
}
#feeds header {
  padding: 8px;
}
#feeds article {
  padding: 8px;
  cursor: pointer;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid #f8f8f8;
}
#feeds article:hover {
  border-color: #e2e2e2;
  background-color: #ffefd6;
}
#entries {
  flex: 0 0 560px;
  overflow: auto;
  border-right: 1px solid #e2e2e2;
}
#entries article {
  padding: 16px;
  cursor: pointer;
  border-bottom: 1px solid #e2e2e2;
}
#entries article:hover {
  background-color: #ffefd6;
}
#entries article h3,
#entries article p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#detail {
  flex-grow: 1;
  overflow: auto;
}
#detail header {
  padding: 16px;
  border-bottom: 1px solid #e2e2e2;
  background-color: #f8f8f8;
}
#entry-content {
  padding: 16px;
}
#entry-content h1,
#entry-content h2,
#entry-content h3,
#entry-content h4,
#entry-content h5,
#entry-content h6,
#entry-content p {
  padding-bottom: 16px;
}
