:root {
  font-family: sans-serif;
  font-size: 62.5%;
  color: #333;
  --color-border: #eee;
  --color-grey: #9e9e9e;
  --color-background: #fafafa;
  --color-active: #f4ecd8;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  box-sizing: border-box;
  margin: 0;
  font-size: 1.4rem;
  line-height: 2.2rem;
}
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}
[hidden] {
  display: none !important;
}
main {
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
#layout-sidebar {
  flex: 0 0 280px;
  min-width: 200px;
  overflow: auto;
  border-right: 1px solid var(--color-border);
  background-color: var(--color-background);
}
#layout-entries {
  flex: 0 0 560px;
  min-width: 320px;
  overflow: auto;
  border-right: 1px solid var(--color-border);
}
#layout-detail {
  flex-grow: 1;
  min-width: 480px;
  overflow: auto;
}
.layout-resizer {
  flex: 0 0 auto;
  position: relative;
}
.layout-resizer::before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 5px;
  left: -2px;
  cursor: ew-resize;
}
#entries article {
  padding: 16px;
  cursor: pointer;
  border-bottom: 1px solid var(--color-border);
}
#entries article:hover {
  background-color: var(--color-active);
}
#entries article h3,
#entries article p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
