<!doctype html>
<html>
    <head>
        <title>RSS reader</title>
        <link rel="stylesheet" type="text/css" href="/static/css/app.css" />
    </head>
    <body>
        <main>
            <form action="/login/" method="POST">
                <label>username<input name="username" /></label>
                <label>password<input name="password" type="password" /></label>
                <label>remember<input type="checkbox" name="remember" /></label>
                <button>Log in</button>
            </form>
        </main>
    </body>
</html>
