nav {
	line-height: 3.2rem;

	> header {
		display: flex;
		align-items: center;
		padding-left: 20px;
		padding-right: 12px;

		h3 {
			flex-grow: 1;
			text-transform: uppercase;
			font-size: 1.2rem;
		}

		button {
			width: 24px;
			height: 24px;
		}
	}

	li  {
		display: flex;
		align-items: center;
		padding-left: 16px;
		padding-right: 14px;
		border-left: 4px solid transparent;
		cursor: pointer;

		&.category {
			&.is-collapsed {
				.icon-chevron-down { transform: rotate(-90deg); }
				& ~ li { display: none; }
			}

			& ~ li {
				padding-left: 48px;
			}
		}

		.subscription-icon {
			margin-right: 8px;
		}

		.title {
			flex-grow: 1;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.count {
			padding-right: 4px;
			font-size: 1.1rem;
			color: var(--color-grey);
		}

		button {
			width: 24px;
			height: 24px;

			&.btn-chevron {
				margin-right: 8px;
			}

			&.btn-dots {
				font-size: 1.6rem;
				display: none;
			}
		}

		&.is-selected {
			border-left-color: var(--color-active);
			color: var(--color-active);
		}

		&:hover {
			background-color: var(--color-hover);
			.btn-dots { display: inline; }
			.count { display: none; }
		}
	}
}
