nav li {
	display: flex;
	align-items: center;
	line-height: 3.2rem;
	padding-left: 4.8rem;
	padding-right: 1.4rem;
	border-left: 4px solid transparent;
	cursor: pointer;

	&.category {
		padding-left: 1.4rem;

		&.collapsed {
			.icon-chevron-down { transform: rotate(-90deg); }
			& ~ li { display: none; }
		}
	}

	.title {
		flex-grow: 1;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.count {
		padding-right: .4rem;
		font-size: 1.1rem;
		color: var(--color-grey);
	}

	button {
		width: 2.4rem;
		height: 2.4rem;

		&.btn-chevron {
			margin-right: 1rem;
		}

		&.btn-dots {
			font-size: 1.6rem;
			display: none;
		}
	}

	&.selected {
		border-left-color: var(--color-active);
		color: var(--color-active);
	}

	&:hover {
		background-color: var(--color-hover);
		.btn-dots { display: inline; }
		.count { display: none; }
	}
}
